```
# Dependencies
node_modules/

# Build/dist directories
dist/

# Environment variables
.env.local
.env

# IDE specific
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Package lock
package-lock.json
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

```